@charset "utf-8";
/* CSS Document */
body{
	background-color: black;
	background:url("../images/9-1.jpg")no-repeat center;
	
}
a{
	text-decoration: none;
}
#box1,#box2{
	color: purple;
	font-family: "Times New Roman", "serif";
	font-size: 50px;
	text-shadow: 0 0 4px white, 0 -5px 6px #FFE500, 2px -10px 6px #FFCC00, -2px -15px 11px #FFEE00, 2px -25px 18px gold;
}
#box1{
	margin: 170px 800px 0 100px;
	width: 200px;
	
	
}
#box2{
	margin: 200px 50px 100px 950px;
	width: 600px;

}
